{% extends 'base.html' %}

{% block title %}
	Blog
{% endblock %}

{% block content_title %}
	Index page
{% endblock %}

{% block content %}

<div class="offset-md-2 col-md-9">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget lobortis nibh. Donec nec porta leo. Nunc a lacus a arcu varius lobortis eu at eros. Curabitur in dapibus orci, et consectetur nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In vehicula enim non libero consequat, sit amet tincidunt lorem tincidunt. Aenean quis molestie lorem, ut pellentesque odio. </p>

<p> Sed libero velit, tristique quis sem sed, eleifend fringilla quam. Nullam tempor rutrum placerat. In consequat diam at sagittis tincidunt. Aliquam vel libero bibendum, faucibus eros venenatis, dictum nisl. Aliquam in imperdiet sem, sed tincidunt diam. Mauris rhoncus condimentum gravida. Vestibulum velit ex, feugiat a gravida at, suscipit maximus libero. Ut facilisis interdum ornare. Sed eleifend ultricies eleifend. Nam congue vehicula odio vulputate gravida. Nulla vel diam nec velit gravida rhoncus. </p>

<p> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse semper condimentum velit vitae varius. Phasellus sit amet mattis tellus, a varius erat. Mauris suscipit purus ligula, sed convallis ligula blandit quis. Praesent id posuere ex. Ut arcu nulla, dapibus ac venenatis eu, dignissim ac leo. Curabitur euismod dictum aliquet. Proin aliquam urna non mi porttitor, vitae facilisis urna vestibulum. Integer suscipit tincidunt velit nec maximus. Curabitur ipsum est, ultrices eu magna eget, mattis condimentum lectus.</p>

<p> Nunc rhoncus aliquam nunc in tempus. Integer sed efficitur dui. Suspendisse lobortis id turpis quis efficitur. Curabitur pharetra ullamcorper ipsum, maximus scelerisque sapien porttitor a. Aenean dolor velit, viverra ut dictum ut, suscipit id justo. Maecenas nec felis elit. Quisque a feugiat arcu, in finibus tellus. Cras rutrum consectetur ex, nec facilisis augue placerat at. Donec consequat luctus fermentum. Duis in nulla ac lacus lobortis bibendum et eget massa.</p>

<p> Mauris mi lectus, volutpat pretium eleifend vitae, sodales et tellus. Maecenas vehicula orci sit amet dictum sodales. Curabitur fermentum condimentum neque at lacinia. Proin consectetur vel magna eget sagittis. Aenean tempus gravida tellus, a placerat lacus luctus eget. Suspendisse potenti. Etiam non dui turpis. Aliquam id mi varius, faucibus ipsum eget, rhoncus tellus. Quisque ullamcorper sagittis mollis. Ut vel pretium elit, a suscipit dui</p> </div>
{% endblock %}